.banae-business-hours__main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
}

.banae-business-hours__main ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.banae-business-hours__main .banae-business__title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.banae-business-hours__main .banae-business__title h3 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.banae-business-hours__main .banae-day__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px
}

.banae-business-hours__main .banae-day__item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.banae-business-hours__main .banae-day__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 12px;
}

.banae-business-hours__main .banae-day__item>span {
    flex: 1;
    font-size: 16px;
    color: #333;
}

@media (max-width:480px) {
    .banae-business-hours__main .banae-day__item {
        display: block
    }

    .banae-business-hours__main .banae-day__item>span {
        display: block
    }
}