.banae-equal-height-wrapper .elementor-element.elementor-widget {
    height: 100%;
}

.banae-equal-height-wrapper .elementor-widget-container {
    display: flex;
    /* optional: allows columns to wrap on smaller screens */
    flex-wrap: wrap;
}

.banae-equal-height-wrapper .elementor-widget-container>div {
    flex: 1;
}