.banana-animated-content {
    --translate: 0, 0
}

.banana-animated-content:focus .banana-animated-item--grow,
.banana-animated-content:hover .banana-animated-item--grow {
    transform: scale(1.1)
}

.banana-animated-content:focus .banana-animated-item--shrink,
.banana-animated-content:hover .banana-animated-item--shrink {
    transform: scale(.85)
}

.banana-animated-content:focus .banana-animated-item--shrink-contained,
.banana-animated-content:hover .banana-animated-item--shrink-contained {
    transform: scale(1)
}

.banana-animated-content:focus .banana-animated-item--enter-zoom-in,
.banana-animated-content:focus .banana-animated-item--enter-zoom-out,
.banana-animated-content:focus .banana-animated-item--fade-in,
.banana-animated-content:hover .banana-animated-item--enter-zoom-in,
.banana-animated-content:hover .banana-animated-item--enter-zoom-out,
.banana-animated-content:hover .banana-animated-item--fade-in {
    opacity: 1;
    transform: scale(1)
}

.banana-animated-content:focus .banana-animated-item--exit-zoom-in,
.banana-animated-content:focus .banana-animated-item--exit-zoom-out,
.banana-animated-content:focus .banana-animated-item--fade-out,
.banana-animated-content:hover .banana-animated-item--exit-zoom-in,
.banana-animated-content:hover .banana-animated-item--exit-zoom-out,
.banana-animated-content:hover .banana-animated-item--fade-out {
    opacity: 0
}

.banana-animated-content:focus .banana-animated-item--exit-zoom-out,
.banana-animated-content:hover .banana-animated-item--exit-zoom-out {
    transform: scale(.2)
}

.banana-animated-content:focus .banana-animated-item--exit-zoom-in,
.banana-animated-content:hover .banana-animated-item--exit-zoom-in {
    transform: scale(2)
}

.banana-animated-content:focus .banana-animated-item--enter-from-bottom,
.banana-animated-content:focus .banana-animated-item--enter-from-left,
.banana-animated-content:focus .banana-animated-item--enter-from-right,
.banana-animated-content:focus .banana-animated-item--enter-from-top,
.banana-animated-content:hover .banana-animated-item--enter-from-bottom,
.banana-animated-content:hover .banana-animated-item--enter-from-left,
.banana-animated-content:hover .banana-animated-item--enter-from-right,
.banana-animated-content:hover .banana-animated-item--enter-from-top {
    opacity: 1;
    transform: translateY(0) translateX(0)
}

.banana-animated-content:focus .banana-animated-item--exit-to-right,
.banana-animated-content:hover .banana-animated-item--exit-to-right {
    transform: translateX(1000px)
}

.banana-animated-content:focus .banana-animated-item--exit-to-left,
.banana-animated-content:hover .banana-animated-item--exit-to-left {
    transform: translateX(-1000px)
}

.banana-animated-content:focus .banana-animated-item--exit-to-top,
.banana-animated-content:hover .banana-animated-item--exit-to-top {
    transform: translateY(-600px)
}

.banana-animated-content:focus .banana-animated-item--exit-to-bottom,
.banana-animated-content:hover .banana-animated-item--exit-to-bottom {
    transform: translateY(600px)
}

.banana-animated-content:focus .banana-animated-item--exit-to-bottom,
.banana-animated-content:focus .banana-animated-item--exit-to-left,
.banana-animated-content:focus .banana-animated-item--exit-to-right,
.banana-animated-content:focus .banana-animated-item--exit-to-top,
.banana-animated-content:hover .banana-animated-item--exit-to-bottom,
.banana-animated-content:hover .banana-animated-item--exit-to-left,
.banana-animated-content:hover .banana-animated-item--exit-to-right,
.banana-animated-content:hover .banana-animated-item--exit-to-top {
    opacity: 0
}

.banana-animated-content:focus .banana-animated-item--move-right,
.banana-animated-content:hover .banana-animated-item--move-right {
    transform: translateX(30px)
}

.banana-animated-content:focus .banana-animated-item--move-left,
.banana-animated-content:hover .banana-animated-item--move-left {
    transform: translateX(-30px)
}

.banana-animated-content:focus .banana-animated-item--move-up,
.banana-animated-content:hover .banana-animated-item--move-up {
    transform: translateY(-30px)
}

.banana-animated-content:focus .banana-animated-item--move-down,
.banana-animated-content:hover .banana-animated-item--move-down {
    transform: translateY(30px)
}

.banana-animated-content:focus .banana-animated-item--move-contained-right,
.banana-animated-content:hover .banana-animated-item--move-contained-right {
    --translate: 8%, 0
}

.banana-animated-content:focus .banana-animated-item--move-contained-left,
.banana-animated-content:hover .banana-animated-item--move-contained-left {
    --translate: -8%, 0
}

.banana-animated-content:focus .banana-animated-item--move-contained-top,
.banana-animated-content:hover .banana-animated-item--move-contained-top {
    --translate: 0, -8%
}

.banana-animated-content:focus .banana-animated-item--move-contained-bottom,
.banana-animated-content:hover .banana-animated-item--move-contained-bottom {
    --translate: 0, 8%
}

.banana-animated-content [class^=banana-animated-item] {
    will-change: transform, opacity
}

.banana-animated-content .banana-animated-item--shrink-contained {
    transform: scale(1.17)
}

.banana-animated-content .banana-animated-item--enter-zoom-in {
    transform: scale(.2)
}

.banana-animated-content .banana-animated-item--enter-zoom-out {
    transform: scale(2)
}

.banana-animated-content .banana-animated-item--enter-zoom-in,
.banana-animated-content .banana-animated-item--enter-zoom-out,
.banana-animated-content .banana-animated-item--fade-in {
    opacity: 0
}

.banana-animated-content .banana-animated-item--exit-zoom-in,
.banana-animated-content .banana-animated-item--exit-zoom-out,
.banana-animated-content .banana-animated-item--fade-out {
    opacity: 1;
    transform: scale(1)
}

.banana-animated-content .banana-animated-item--enter-from-right {
    transform: translateX(1000px)
}

.banana-animated-content .banana-animated-item--enter-from-left {
    transform: translateX(-1000px)
}

.banana-animated-content .banana-animated-item--enter-from-top {
    transform: translateY(-600px)
}

.banana-animated-content .banana-animated-item--enter-from-bottom {
    transform: translateY(500px)
}

.banana-animated-content .banana-animated-item--enter-from-bottom,
.banana-animated-content .banana-animated-item--enter-from-left,
.banana-animated-content .banana-animated-item--enter-from-right,
.banana-animated-content .banana-animated-item--enter-from-top {
    opacity: 0
}

.banana-animated-content .banana-animated-item--exit-to-bottom,
.banana-animated-content .banana-animated-item--exit-to-left,
.banana-animated-content .banana-animated-item--exit-to-right,
.banana-animated-content .banana-animated-item--exit-to-top {
    opacity: 1;
    transform: translateY(0) translateX(0)
}

.banana-animated-content .banana-animated-item--move-contained-bottom,
.banana-animated-content .banana-animated-item--move-contained-left,
.banana-animated-content .banana-animated-item--move-contained-right,
.banana-animated-content .banana-animated-item--move-contained-top {
    transform: scale(1.2) translate(var(--translate))
}