.hck-wrapper {
  display: inline-block;
  position: relative;
}

.hck-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px;
}

.hck-wrapper>div {
  display: inline-block;
  white-space: nowrap;
}

@keyframes hck-blink {
  to {
    visibility: hidden;
  }
}

/* Make slide animation safe: position relative so it can animate */
.hck-wrapper .hck-text {
  position: relative;
}
